<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A simple crud app made with the vue js and django"
    />

    <meta name="keywords" content="vuejs, django, crudapp, restapi" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    </style>
  </head>

  <body>
    <div id="starting">
      <div class="container">
        <div class="row">
          <h1>
            BOOKS
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#addBookModal"
            >
              ADD BOOK
            </button>
          </h1>
          <div class="form-inline my-2 my-lg-0" style="margin-left: 40%">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              v-model="search_term"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              @click.prevent="getBooks()"
            >
              Search
            </button>
          </div>
          <hr />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="book in books">
                <th scope="row">${book.book_id}</th>
                <td>${book.book_name}</td>
                <td>${book.book_author}</td>
                <td>
                  <button
                    class="btn btn-info"
                    @click="getBook(book.book_id)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger"
                    @click="deleteBook(book.book_id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="modal fade"
            id="addBookModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    ADD BOOK
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                  </button>
                </div>
                <form @click.prevent="addBook()">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="book_heading">Book Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="book_heading"
                        placeholder="Enter Book Name"
                        v-model="newBook.book_name"
                        required="required"
                      />
                    </div>
                    <div class="form-group">
                      <label for="book_author">Book Author</label>
                      <textarea
                        class="form-control"
                        id="book_author"
                        placeholder="Enter Book Author"
                        v-model="newBook.book_author"
                        required="required"
                        rows="3"
                      ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="book_description">Book Description</label>
                        <textarea
                          class="form-control"
                          id="book_description"
                          placeholder="Enter Book Description"
                          v-model="newBook.book_description"
                          required="required"
                          rows="7"
                        ></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary m-progress"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="editBookModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    EDIT BOOK
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                  </button>
                </div>
                <form @click.prevent="updateBook()">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="book_name">Book Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="book_name"
                        placeholder="Enter Book Name"
                        v-model="currentBook.book_name"
                        required="required"
                      />
                    </div>
                    <div class="form-group">
                      <label for="book_author">Book Author</label>
                      <textarea
                        class="form-control"
                        id="book_author"
                        placeholder="Enter Book Author"
                        v-model="currentBook.book_author"
                        required="required"
                        rows="3"
                      ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="book_description">Book Description</label>
                        <textarea
                          class="form-control"
                          id="book_description"
                          placeholder="Enter Book Description"
                          v-model="currentBook.book_description"
                          required="required"
                          rows="5"
                        ></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary m-progress"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript">
      Vue.http.headers.common["X-CSRFToken"] = "{{ csrf_token }}";
      new Vue({
        el: "#starting",
        delimiters: ["${", "}"],
        data: {
          books: [],
          currentBook: {},
          message: null,
          newBook: { book_name: null, book_author: null, book_description: null },
          search_term: "",
        },
        mounted() {
          this.getBooks();
        },
        methods: {
          getBooks() {
            let api_url = "/api/book/";
            if (this.search_term !== "" || this.search_term !== null) {
              api_url = `/api/book/?search=${this.search_term}`;
            }
            this.$http
              .get(api_url)
              .then((response) => {
                this.books = response.data;
              })
              .catch((err) => {
                console.log(err);
              });
          },
          getBook(id) {
            this.$http
              .get(`/api/book/${id}/`)
              .then((response) => {
                this.currentBook = response.data;
                $("#editBookModal").modal("show");
              })
              .catch((err) => {
                console.log(err);
              });
          },
          addBook() {
            this.$http
              .post("/api/book/", this.newBook)
              .then((response) => {
                this.getBooks();
              })
              .catch((err) => {
                console.log(err);
              });
          },
          updateBook() {
            this.$http
              .put(
                `/api/book/${this.currentBook.book_id}/`,
                this.currentBook
              )
              .then((response) => {
                this.currentBook = response.data;
                this.getBooks();
              })
              .catch((err) => {
                console.log(err);
              });
          },
          deleteBook(id) {
            this.$http
              .delete(`/api/book/${id}/`)
              .then((response) => {
                this.getBooks();
              })
              .catch((err) => {
                console.log(err);
              });
          },
        },
      });
    </script>
  </body>
</html>
