<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A simple crud app made with the vue js and django"
    />

    <meta name="keywords" content="vuejs, django, crudapp, restapi" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    </style>
  </head>

  <body>
    <div id="starting">
      <div class="container">
        <div class="row">
          <h1>
            PRODUCTS
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#addProductModal"
            >
              ADD PRODUCT
            </button>
          </h1>
          <div class="form-inline my-2 my-lg-0" style="margin-left: 40%">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              v-model="search_term"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              @click.prevent="getProducts()"
            >
              Search
            </button>
          </div>
          <hr />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products">
                <th scope="row">${product.product_id}</th>
                <td>${product.product_name}</td>
                <td>${product.product_description}</td>
                <td>${product.product_price}</td>
                <td>
                  <button
                    class="btn btn-info"
                    @click="getProduct(product.product_id)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger"
                    @click="deleteProduct(product.product_id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="modal fade"
            id="addProductModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    ADD PRODUCT
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                  </button>
                </div>
                <form @click.prevent="addProduct()">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="product_name">Product Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="product_name"
                        placeholder="Enter Product Name"
                        v-model="newProduct.product_name"
                        required="required"
                      />
                    </div>
                    <div class="form-group">
                      <label for="book_author">Product Description</label>
                      <textarea
                        class="form-control"
                        id="product_description"
                        placeholder="Enter Product Description"
                        v-model="newProduct.product_description"
                        required="required"
                        rows="5"
                      ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="product_price">Product Price</label>
                        <textarea
                          class="form-control"
                          id="product_price"
                          placeholder="Enter Product Price"
                          v-model="newProduct.product_price"
                          required="required"
                        ></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary m-progress"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="editProductModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    EDIT PRODUCT
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                  </button>
                </div>
                <form @click.prevent="updateProduct()">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="product_name">Product Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="product_name"
                        placeholder="Enter Product Name"
                        v-model="currentProduct.product_name"
                        required="required"
                      />
                    </div>
                    <div class="form-group">
                      <label for="product_description">Product Description</label>
                      <textarea
                        class="form-control"
                        id="product_description"
                        placeholder="Enter Product Description"
                        v-model="currentProduct.product_description"
                        required="required"
                        rows="5"
                      ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="product_price">Product Price</label>
                        <textarea
                          class="form-control"
                          id="product_price"
                          placeholder="Enter Product Price"
                          v-model="currentProduct.product_price"
                          required="required"
                        ></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary m-progress"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript">
      Vue.http.headers.common["X-CSRFToken"] = "{{ csrf_token }}";
      new Vue({
        el: "#starting",
        delimiters: ["${", "}"],
        data: {
          products: [],
          currentProduct: {},
          message: null,
          newProduct: { product_name: null, product_description: null, product_price: null },
          search_term: "",
        },
        mounted() {
          this.getProducts();
        },
        methods: {
          getProducts() {
            let api_url = "/api/product/";
            if (this.search_term !== "" || this.search_term !== null) {
              api_url = `/api/product/?search=${this.search_term}`;
            }
            this.$http
              .get(api_url)
              .then((response) => {
                this.products = response.data;
              })
              .catch((err) => {
                console.log(err);
              });
          },
          getProduct(id) {
            this.$http
              .get(`/api/product/${id}/`)
              .then((response) => {
                this.currentProduct = response.data;
                $("#editProductModal").modal("show");
              })
              .catch((err) => {
                console.log(err);
              });
          },
          addProduct() {
            this.$http
              .post("/api/product/", this.newProduct)
              .then((response) => {
                this.getProducts();
              })
              .catch((err) => {
                console.log(err);
              });
          },
          updateProduct() {
            this.$http
              .put(
                `/api/product/${this.currentProduct.product_id}/`,
                this.currentProduct
              )
              .then((response) => {
                this.currentProduct = response.data;
                this.getProducts();
              })
              .catch((err) => {
                console.log(err);
              });
          },
          deleteProduct(id) {
            this.$http
              .delete(`/api/product/${id}/`)
              .then((response) => {
                this.getProducts(); 
              })
              .catch((err) => {
                console.log(err);
              });
          },
        },
      });
    </script>
  </body>
</html>
